body {
    font-family: Arial, Helvetica, sans-serif;
    background: #efeaea;
    margin: 0;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Cabecera */
.header {
    background: #1e73be; /* azul */
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* Contenedor */
.container {
    background: white;
    padding: 30px;
    width: 60%;
    max-width: 600px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    margin-top: 30px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #555555;
    font-size: 18px;
}

